@using M000_DataAccess.Models
@model IEnumerable<Order>
@{
	ViewData["Title"] = $"Bestellungen für {Model.First().CustomerId}";
}

<h3>@($"Bestellungen für {Model.First().CustomerId}")</h3>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Bestellungsdatum</th>
			<th>Frachtkosten</th>
			<th>Kundenname</th>
			<th>Adresse</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Order o in Model)
		{
			<tr>
				<td>@o.OrderId</td>
				<td>@o.OrderDate</td>
				<td>@o.Freight</td>
				<td>@o.ShipName</td>
				<td>@($"{o.ShipAddress} {o.ShipCity} {o.ShipPostalCode} {o.ShipCountry}")</td>
			</tr>
		}
	</tbody>
</table>